
.h1broad{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color:white;
  text-align: center;
}
.nav { font-family: Helvetica;
font-size: 18px;
color: white;
background-image: url("https://nigeltroll.github.io/please/resources/images/the-flatiron-building.png");
background-repeat: no-repeat;
text-align: center;
height:40px;

}
h3 {font-family: Helvetica;
font-size: 32px;
font-weight: bold;
}
h4{ font-family: Helvetica;
font-size: 23px;
font-weight: bold;}
h5 { font-family: Helvetica;
font-size: 14px;}
h6{font-family: Helvetica;
font-size:11px;
color: white;
background-color: dimgray;}

.newyork {font-family: Helvetica;
font-size: 23px;
font-weight: bold;
color: white;
background-image: url("https://nigeltroll.github.io/please/resources/images/the-flatiron-building.png");
text-align: center;
height:30px;


}

.main {
  text-align: center;}
